body {
background-color: #acc1ca;
}
h2 {
color: black;
font-size:25px;
font-family: hightowerEOT;
position: relative;
right: 1100px;
left: 188px;
padding: 10px;
}
.members {
	display: table;
    width: 750px;
    height: 100%;
    margin-bottom: 35px;
}
.memberRow {
	display: table-row;
	height: 100%;
}
.memberPic {
	display: table-cell;
	width: 200px;
	text-align: center;
	background-color: #acc1ca;
}
.memberBio {
	display: table-cell;
	width: 300px;
	height: 300px;
	background-color: #725d5f;
	
}
.memberName {
	padding: 10px;
	display:block;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.memberBioCopy {
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	}
